h1 {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 5vh;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 10px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.position img {
  height: 30vh;
  flex-direction: column;
  max-width: 180px;
  border-radius: 10px;
}

.charactercontainer {
  width: 30vh;
  padding-top: 5%;
}

.position:hover {
  background-color: #49f46f;
}

.position:active {
  background-color: white;
}

.position + .position {
  margin-left: 2em;
}

.feedback {
  padding-top: 2%;
}

.progressBar {
  max-width: 6vh;
  padding-top: 8vh;
  margin: 0 auto;
}

@media (max-width: 550px) {
  h1 {
    padding-bottom: 8vh;
  }

  .position img {
    height: 22vh;

    max-width: 40vw;
  }

  .charactercontainer {
    width: 20vh;
    padding-top: 30%;
  }

  .position + .position {
    margin-left: 0em;
  }

  .feedback {
    padding-top: 2%;
  }

  .progressBar {
    padding-top: 5vh;
  }

  .position:hover {
    background-color: none;
  }

  .position:active {
    background-color: none;
  }
}

/* wedding */

.container1 {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 10px;
}

.row1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.yodapriest img {
  max-height: 15vh;
}

.position1 img {
  height: 20vh;
  flex-direction: column;
  max-width: 30vw;
  border-radius: 10px;
}

.charactercontainer1 {
  width: 15vh;
  padding-top: 5%;
}

.position1 + .position1 {
  margin-left: 2em;
}

@media (max-width: 550px) {
  h1 {
    padding-bottom: 8vh;
  }

  .position1 img {
    height: 20vh;

    max-width: 40vw;
  }

  .charactercontainer1 {
    width: 20vh;
    padding-top: 30%;
  }

  .position1 + .position1 {
    margin-left: -3em;
  }

  .yodapriest img {
    max-height: 10vh;
  }
}

#buttonDivWedding{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 60px;
}

.CreditsPlayAgainButton{
  margin: 15px 20px;
  border: none;
  font-size: 22px;
  font-weight: bolder;
  padding: 8px 30px;
  background-color: black;
  color: white;
  box-shadow: 0 0 10px #49f46f, 0 0 10px #49f46f, 0 0 10px #49f46f;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "Ropa Sans", sans-serif;
}

.CreditsPlayAgainButton:hover{
  transform: scale(1.1);
  transition: all 100ms ease-in;
}