body {
  background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
}

.App {
  text-align: center;
  font-family: "Ropa Sans", sans-serif;
  color: white;
}

#logo {
  margin-right: 30px;
}


button.buttonstyle {
  border: none;
  font-size: 22px;
  font-weight: bolder;
  padding: 8px 30px;
  background-color: black;
  color: white;
  box-shadow: 0 0 10px #49f46f, 0 0 10px #49f46f, 0 0 10px #49f46f;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "Ropa Sans", sans-serif;
}

button:hover {
  transform: scale(1.1);
  transition: all 100ms ease-in;
}

div.centerdiv {
  text-align: center;
  margin: 40px auto 0px auto;
}

.temporaryButtons {
  text-align: center;
}

