body{
  background-image: url('https://res.cloudinary.com/darjcijgb/image/upload/v1574325375/space_ptic8l.jpg');
}

.App {
  text-align: center;
  font-family: 'Ropa Sans', sans-serif;
  color: white;
  font-size: 40px;
}


