.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 10px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.position img {
  height: 30vh;
  flex-direction: column;
}

.position + .position {
  margin-left: 2em;
}
