div.crawler {
    background: none!important;
}
div.crawler div {
    min-height: 0vh!important;
    background-image: none!important;
}

div.crawler section {
    color: #49f46f!important;
}

#Margin {
    margin: 0px auto 0px 30px;
    text-align: left;
}

#Style {
    font-size: 15px;
}

@media only screen and (max-width: 400px) {
    #Margin {
        margin: 0px auto 20px auto;
        text-align: center;
    }
    
    #Style {
        font-size: 10px;
    }
}