body {
  perspective: 35em;
}
.speech-bubble {
  position: relative;
  margin: 0.5em auto;
  padding: 1em;
  width: 20em;
  height: 8em;
  border-radius: 0.25em;
  /* transform: rotate(-4deg) rotateY(15deg); */
  background: #f4fbfe;
  font: 2em/4;
  color: black;
  font-family: "Ropa Sans", sans-serif;

  text-align: center;
}

.speech-bubble:before,
.speech-bubble:after {
  position: absolute;
  z-index: -1;
  content: "";
}
.speech-bubble:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  transform: rotate(2deg) translate(0.35em, -0.15em) scale(1.02);
  background: #49f46f;
}
.speech-bubble:before {
  border: solid 0 transparent;
  border-right: solid 3.5em #f4fbfe;
  border-bottom: solid 0.25em #49f46f;
  bottom: 0.25em;
  left: 1.25em;
  width: 0;
  height: 1em;
  transform: rotate(45deg) skewX(75deg);
}

speech-bubble .img {
  padding-top: 10px;
}
